@charset "UTF-8";

/*  fonte importado do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

/* importa fonte do sistema */
@font-face {
    font-family: 'AppleGaramond';
    src: url('../fontes/AppleGaramond.ttf');
    font-weight: normal;
}

/* criação de variaveis de paleta de cor CSS */
:root {
    --cor1: #bacca4;
    --cor2: #7dad93;
    --cor3: #018790;
    --cor4: #0a516d;
    --cor5: #2b2726;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Rubik Pixels', cursive;
    --fonte-apple: 'AppleGaramond', cursive;
}

* {

    /* zera todas a medições padrões */
    margin: 0px;
    padding: 0px
}

/* seletor do corpo da pagina */
body { 
    background-color: var(--cor1);
    font-family: var(--fonte-apple);
}

a.externo::after {
    /* uma classe para criar um desenho de um link */
    content: '\00A0\f0c1';
}

header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px black;
}
